<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV/Resume Extractor v.3</title>
</head>
<body>

    {% if something %}
    <p>Hello, {{ name }}'s CV Data extracted Succesfully</p>

    <p>Here are the Basic Info about {{ name }}</p>
    <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>{{ email }}</td>
          <td>{{ phone }}</td>
        </tr>

        
     
      </table>
      <a href="{% url 'download_csv' %}"><h3>Download Information as CSV File Format</h3></a>
    
    {% else %}
    <a href="{% url 'upload' %}">Please upload a file</a>
    {% endif %}
    
</body>
</html>